[1C Base10]
Connect=Srvr="Server1";Ref="Base10";
ID=56c59aa0-edba-472b-bc9c-e82256429b67
OrderInList=384
Folder=/
OrderInTree=256
External=0
ClientConnectionSpeed=Normal
App=Auto
WA=1
Version=8.2
[1С Base10]
Connect=Srvr="Server1";Ref="Base11";
ID=63a7956b-45a5-4f7e-a0c2-b20cccd41531
OrderInList=164
Folder=/
OrderInTree=196
External=0
ClientConnectionSpeed=Normal
App=Auto
WA=1
Version=8.3
[1C Test_Base20]
Connect=Srvr="Server2";Ref="Test_Base20";
ID=907358ab-c4e9-4610-9955-95c45c15f7b2
OrderInList=134
Folder=/
OrderInTree=138
External=0
ClientConnectionSpeed=Normal
App=ThickClient
WA=1
Version=8.2
DefaultApp=ThickClient
[1С Test_Base20]
Connect=Srvr="Server2";Ref="Test_Base21";
ID=30dd7165-e0f4-4086-80a3-68afd3df340c
OrderInList=132
Folder=/
OrderInTree=136
External=0
ClientConnectionSpeed=Normal
App=Auto
WA=1
Version=8.3